.social-logo {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
}

.social-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
  font-size: 16px;
  color: black;
}

.social-block {
  display: inline-block;
  width: 40%;
  margin: 10px;
  margin-left: 5%;
}

.social-main-div {
  margin: 0 auto 0 auto;
}
